<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>data</param-name>
    <param-value>为整个web应用配置初始化参数</param-value>
  </context-param>
  <context-param>
    <param-name>data2</param-name>
    <param-value>为整个web应用配置初始化参数</param-value>
  </context-param>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>cn.itcast.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo02</servlet-name>
    <servlet-class>cn.itcast.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/ServletDemo02</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/1.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo03</servlet-name>
    <servlet-class>cn.itcast.ServletDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo03</servlet-name>
    <url-pattern>/ServletDemo03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo04</servlet-name>
    <servlet-class>cn.itcast.ServletDemo04</servlet-class>
    <init-param>
      <param-name>data1</param-name>
      <param-value>为这个servlet应用配置初始化参数</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>yyy</param-value>
    </init-param>
    <init-param>
      <param-name>data3</param-name>
      <param-value>zzz</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/struts-config.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo04</servlet-name>
    <url-pattern>/ServletDemo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo05</servlet-name>
    <servlet-class>cn.itcast.ServletDemo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo05</servlet-name>
    <url-pattern>/ServletDemo05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo06</servlet-name>
    <servlet-class>cn.itcast.ServletDemo06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo06</servlet-name>
    <url-pattern>/ServletDemo06</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo07</servlet-name>
    <servlet-class>cn.itcast.ServletDemo07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo07</servlet-name>
    <url-pattern>/ServletDemo07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo08</servlet-name>
    <servlet-class>cn.itcast.ServletDemo08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo08</servlet-name>
    <url-pattern>/ServletDemo08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo09</servlet-name>
    <servlet-class>cn.itcast.ServletDemo09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo09</servlet-name>
    <url-pattern>/ServletDemo09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDemo10</servlet-name>
    <servlet-class>cn.itcast.ServletDemo10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo10</servlet-name>
    <url-pattern>/ServletDemo10</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ServletDemo11</servlet-name>
    <servlet-class>cn.itcast.ServletDemo11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo11</servlet-name>
    <url-pattern>/ServletDemo11</url-pattern>
  </servlet-mapping>
</web-app>